<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch</title>
</head>
<body>
    <form action="{% url 'switch' %}" method="post">
        {% csrf_token %}
        <input type="checkbox" name="state" value="SIM" id="yes">
        <label for="yes">SIM</label><br>

        <input type="checkbox" name="state" value="NÃO" id="no">
        <label for="no">NÃO</label><br>

        <input type="submit" value="Submit">

    </form>
</body>
</html>